<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/{{cookiecutter.app_name}}.css}" rel="stylesheet" media="all">

    <title>{{cookiecutter.app_name_cap}} - Home</title>
  </head>
  <body>
    <div class="container">
        <br>
        <br>
        <br>
        <div class="text-center">
            <br>
            <h2>Home</h2>
            <p>It's a great day!</p>
            <a th:href="@{/home}">Back to home page.</a>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</body>
<footer class="footer">
    <div class="container text-center">
        <br>
        <span class="text-muted"><small class="text-black">Developed by Daniel Brackin&emsp;|&emsp;</small><small><a style="color:black;" th:href="@{/help}">Need help?</a></small></span>
        <br>
    </div>
    <br>
</footer>
</html>