<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/login.css}" rel="stylesheet" media="all">

    <title>{{cookiecutter.app_name_cap}} - Registration</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Registration</h5>
              <small>{{cookiecutter.app_name_cap}}</small>

              <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" class="form-signin" role="form">
                    <div class="form-group">
                        <input type="text" th:field="*{first_name}" placeholder="First Name"
                              class="form-control" required/>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" th:field="*{last_name}"
                              placeholder="Last Name" class="form-control" required/>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" th:field="*{username}" placeholder="Username"
                              class="form-control" required/>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" th:field="*{password}"
                              placeholder="Password" class="form-control"/>
                    </div>
                    <br>
                    <button class="btn btn-lg btn-light btn-block text-uppercase" name="submit"type="submit">Sign up!</button>
                    <div class="text-center">
                        <a style="color: black" th:href="@{/}"><strong>Go Back</strong></a>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>